@import '../../index.scss';

.foodMenuContainer
{
    margin-top: 80px;
}

.foodMenu
{
    width: 70vw;
    margin: 0 auto;
}

.searchField
{
    display: block;
    width: 15rem !important;
    height: 40px;
    background-color: $mainGrey;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
    margin: 0 auto;
    text-align: center;
}

.searchField::-webkit-input-placeholder 
{
    text-align: center;
}
 
.searchField:-moz-placeholder 
{
    text-align: center;  
}
 
.searchField::-moz-placeholder 
{
    text-align: center;  
}
 
.searchField:-ms-input-placeholder 
{  
    text-align: center; 
}

@media screen and (min-width:768px)
{
    .foodMenu
    {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 1.5rem;
    }
}

@media screen and (min-width:992px)
{
    .foodMenu
    {
        width: 85vw;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width:1140px)
{
    .foodMenu
    {
        grid-template-columns: repeat(4, 1fr);
    }
}