@import '../../index.scss';

.welcomeSection
{
    display: table;
    width: 100%;
    height: 90vh;
    overflow: hidden;
    margin-top: 65px;
}

.par
{
    font-family: $font;
    font-size: 3rem;
    color: $mainWhite;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}